<launch>
    <arg name="initX" default="-7"/>
    <arg name="initY" default="-3"/>
    <arg name="initYaw" default="1.5708"/>

    <arg name="wit_wt901c_imu" default="true"/>
    <arg name="sick_lms151" default="true"/>
    <arg name="velodyne_vlp16" default="false"/>

    <arg name="model" default="$(find copernicus_description)/urdf/copernicus.xacro"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model) imu_enabled:=$(arg wit_wt901c_imu) sick_lms151_enabled:=$(arg sick_lms151) velodyne_enabled:=$(arg velodyne_vlp16)"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model / -param robot_description -x $(arg initX) -y $(arg initY) -z 0.0 -R 0 -P 0 -Y $(arg initYaw)">
    </node>

    <include file="$(find copernicus_control)/launch/control.launch" />

    <include file="$(find copernicus_localization)/launch/localization.launch" />  

     <node name="pointcloud_to_laserscan" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
            <param name="min_height" value="0.1"/>
            <param name="max_height" value="1.0"/>
            <param name="range_min" value="0.9"/>
            <param name="range_max" value="130.0"/>
            <param name="angle_min" value="-3.14"/>
            <param name="angle_max" value="3.14"/>
            <param name="target_frame" value="base_link"/>
            <param name="use_inf" value="true"/>

            <remap from="cloud_in" to="velodyne_points"/>
            <remap from="scan" to="scan_filtered"/>
        </node>
</launch>
